@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
}


/* #38d39f */

.wave {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    z-index: -1;
}

.container-signup,
.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    grid-gap: 7rem;
    padding: 2rem 2.2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.container-signup .img img,
.container-login .img img {
    width: 520px;
}

.container-signup__content,
.container-login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.container-signup__content img,
.container-login__content img {
    width: 120px;
    padding-bottom: 24px;
}

.container-signup__content h2,
.container-login__content h2 {
    font-size: 52px;
    letter-spacing: 1.6px;
    color: #333;
}

form {
    width: 362px;
}

input {
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    width: 100%;
    font-size: 18px;
    padding: 0 0 12px 36px;
    transition: all 0.3s ease;
}

.form-group {
    position: relative;
    margin-top: 22px;
}

.input-wrapper {
    display: flex;
}

i {
    position: absolute;
    top: 30px;
    transition: all 0.3s ease;
    color: #a7a2a2;
}

.password-icon {
    right: 0;
    cursor: pointer;
}

label {
    margin-left: 36px;
    color: #8a8181;
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    transition: all 0.3s ease;
    cursor: text;
}

.form-group.focus i {
    color: #38d39f;
}

.form-group.focus .password-icon {
    color: rgb(126, 122, 122);
}

.form-group.focus input {
    border-color: #38d39f;
}

.form-group.focus label {
    transform: translateY(0);
}

.form-message {
    padding-left: 14px;
    font-size: 14px;
    display: block;
    padding-top: 10px;
}

.form-group.invalid input {
    border-color: #d14633;
}

.form-group.invalid i:first-child,
.form-group.invalid .form-message {
    color: #d14633;
}

.handle-form {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

a {
    color: #333;
    font-weight: 500;
}

a:hover {
    color: #38d39f;
    transition: all 0.2s ease;
}

.form-submit {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #38d39f;
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width: 64em) {
    .wave,
    .container-signup .img,
    .container-login .img {
        display: none;
    }
    .container-signup,
    .container-login {
        height: unset;
        padding: 1rem 2.2rem;
    }
    .container-signup__content,
    .container-login__content {
        width: 100%;
    }
}

@media screen and (max-width: 24.875em) {
    form {
        width: 296px;
    }
    .container-login__content {
        height: 100vh;
    }
    .main {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}


/* signup */

.handle-password {
    display: flex;
    align-items: center;
}

.handle-password input {
    width: 22px;
    cursor: pointer;
}

.handle-password span {
    white-space: nowrap;
    text-decoration: underline;
    font-weight: 500;
    cursor: default;
}